@import 'config';

* {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
}

// DOM elements
p,
span,
li {
    font-size: 1em;
}

a {
    text-decoration: none;
    font-size: 500;
    font-weight: 300;
}

li {
    line-height: 1.9rem;
}

// Class
.section-page {
    padding-top: 1em;
    padding-bottom: 1em;

    @media(max-width: $max-width) {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.btn-toggle {
    margin-top: 0.5rem;
    border-radius: 20px;
    width: 8rem;
    font-weight: 300;
}

.card-techstack {
    padding: 0.5em 1em;
    border-radius: 5px;
}

.card-work-history {
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;

    @media(max-width: $max-width) {
        border-left: none;
        padding-left: 0;
    }
}

.card-project {
    padding-top: 1em;
    padding-bottom: 1em;

    a {
        transition: .03s;
    }
}

.line-break {
    height: 1px;
}

// Id
#container-main {
    max-width: 700px;
    margin: 0 auto;
}

#wrapper-hero {
    display: flex;
    align-items: center;
    gap: 4em;

    @media(max-width: $max-width) {
        flex-direction: column;
        gap: 1em;
    }
}

#bio {
    font-weight: 300;
}

#user-name {
    font-size: 1.9em;
    line-height: 1em;
    padding-bottom: 1rem;
}

#social-list {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: nowrap;

    a {
        font-size: 0.9em;
    }

    a:hover {
        font-family: $social-font-hover-stack;
    }

}

#qualifications-list,
#wrapper-list {
    list-style: none;
}

#wrapper-techstack-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: .9em;
}

@mixin dark-mode {
    * {
        color: $mainTextColor-dark;
    }

    background-color: $mainBgColor-dark;

    p,
    span,
    li {
        color: $secondaryTextColor-dark;
    }

    a {
        color: $mainLinkColor-dark;
    }

    .btn-toggle {
        background-color: $buttonBgColor-dark;
        border-color: $mainBorderColor-light;
    }

    .card-techstack {
        border: 1px solid $mainBorderColor-dark;
    }

    .card-work-history {
        border-left: 1px solid $mainBorderColor-dark;
    }

    .card-project {
        border-top: 1px solid $mainBorderColor-dark;

        a {
            color: $mainTextColor-dark;
        }

        a:hover {
            color: $mainLinkColor-dark;
        }
    }

    .line-break {
        background-color: $mainBorderColor-dark;
    }

    #email {
        color: $mainTextColor-dark;
    }

    #social-list {
        display: flex;
        justify-content: space-between;
        column-gap: 1em;
        flex-wrap: nowrap;

        a {
            font-size: 0.9em;
            color: $secondaryTextColor;
        }

        a:hover {
            color: $mainLinkColor;
            font-family: $social-font-hover-stack;
        }
    }

    #social-list {
        a {
            color: $secondaryTextColor-dark
        }

        a:hover {
            color: $mainLinkColor-dark;
        }
    }
}

@mixin light-mode {
    * {
        color: $mainTextColor-light;
    }

    background-color: $mainBgColor-light;

    p,
    span,
    li {
        color: $secondaryTextColor-light;
    }

    a {
        color: $mainLinkColor-light;
    }

    .btn-toggle {
        background-color: $buttonBgColor-light;
        border-color: $mainBorderColor-dark;
    }

    .card-techstack {
        border: 1px solid $mainBorderColor-light;
    }

    .card-work-history {
        border-left: 1px solid $mainBorderColor-light;
    }

    .card-project {
        border-top: 1px solid $mainBorderColor-light;

        a {
            color: $mainTextColor-light;
        }

        a:hover {
            color: $mainLinkColor-light;
        }
    }

    .line-break {
        background-color: $mainBorderColor-light;
    }

    #email {
        color: $mainTextColor-light;
    }

    #social-list {
        a {
            color: $secondaryTextColor;
        }

        a:hover {
            color: $mainLinkColor;
        }
    }

    #social-list {
        a {
            color: $secondaryTextColor-light
        }

        a:hover {
            color: $mainLinkColor-light;
        }
    }
}

.dark-mode {
    @include dark-mode;
}

.light-mode {
    @include light-mode;
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode;
    }
}

// Images
@import "images";